/*********************************/
/* circle */
/*********************************/
circle {
    /*stroke-dasharray: 350;
    stroke-dashoffset: 350;*/
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: var(--orange);
    fill: none;
    transform: rotate(-90deg);
    transform-origin: center;
    animation-name: drawCircle;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.circle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.circle svg {
    width: 100%;
}

@keyframes drawCircle {
    0% {
        stroke-dashoffset: 330;
    }

    30% {
        stroke-dashoffset: 200;
    }

    100% {
        stroke-dashoffset: 200;
    }
}

/*********************************/
/* bar */
/*********************************/
.progress {
    background-color: #ffffff2e;
}

.progress-bar {
    background-color: var(--bleu-bis);
    animation: progress 4s ease;
}

TABLE {
    border-collapse: separate;
    border-spacing: 0 15px;
}

TABLE TR TD:first-child {
    padding-right: 20px;
}

TABLE TR TD:last-child {
    width: 70vw;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
