/* VARS */
:root {
    --bg-main: black;
    --orange: #FF914D;
    --bleu: #159696;
    --bleu-bis: #2b6060;
}

* {
    font-family: "sourceSerifPro-Regular";
    color: #FFF;
    font-size: 20px;
}

HTML, BODY {
    background-color: var(--bg-main) !important;
}

H1, H2, H3, H4, H5, H6 {
    font-family: "fascinate-Regular";
    font-size: 7em;
    color: var(--orange);
}

A,
A:hover {
    color: inherit;
    text-decoration: none;
}

.full-height {
    min-height: 100vh;
}

/*********************************/
/* NAV */
/*********************************/
NAV {}

NAV UL {
    list-style: none;
}

NAV LI {
    margin-bottom: 20px;
}

NAV LI A I[class*=" bi-"]::before {
    vertical-align: sub;
    display: inline-block;
    margin-left: -1.2em;
    width: 1.3em;
}

NAV LI A I[class*=" bi-"]:hover::before,
NAV LI.active A I[class*=" bi-"]::before {
    /*bi-circle-fill*/
    content: "\f287";
}

NAV LI:last-child A I[class*=" bi-"]:hover::before,
NAV LI.active:last-child A I[class*=" bi-"]::before {
    /*bi-square-fill*/
    content: "\f582";
}

/* anim nav */
NAV LI A {
    display: inline-block;
}

NAV LI A SPAN {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    transition: width 1s;
    white-space: nowrap;
}

NAV LI A I:hover+SPAN,
NAV LI A SPAN:hover,
NAV LI A:focus SPAN {
    width: calc(100% - 2px);
    /* 2px => width of I in A */
}

/*********************************/
/* MAIN */
/*********************************/
.img-home {
    width: 220px;
}

.paragraphe {}

.btn.btn-main {
    font-family: "sourceSerifPro-Regular";
    color: #fff;
    background-color: var(--bleu);
    border-color: var(--bleu);
    width: 50%;
    margin-bottom: 10px;
}

.btn.btn-main:hover {
    color: #fff;
    background-color: var(--bleu-bis);
    border-color: var(--bleu-bis);
}

.btn-start {
    text-align: center;
    margin-top: 20px;
}

/*********************************/
/* SUB-PAGE */
/*********************************/
.sub-page .content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/*********************************/
/* MEDIA */
/*********************************/
/* 576px => xs */
@media (max-width: 576px) {
    .main-row {
        flex-flow: column-reverse;
        justify-content: center;
    }

    /* NAV*/
    NAV UL {
        text-align: center;
        padding: unset;
        margin-top: 1rem;
    }

    NAV UL LI {
        display: inline-block;
        padding: 0 5px;
    }

    NAV LI A I[class*=" bi-"]::before {
        vertical-align: sub;
        display: inline-block;
        margin-left: unset;
        width: 1.3em;
    }

    NAV LI A SPAN {
        display: none;
    }
}

/* 768px => md */
@media (max-width: 768px) {
    H1, H2, H3, H4, H5, H6 {
        font-size: 18vw;
    }
}
