/* VARS */
:root {
    --bg-main: black;
    --orange: #FF914D;
    --bleu: #159696;
    --bleu-bis: #2b6060;
}

* {
    font-family: "sourceSerifPro-Regular";
    color: #FFF;
    font-size: 20px;
}

HTML, BODY {
    background-color: var(--bg-main) !important;
}

H1, H2, H3, H4, H5, H6 {
    font-family: "fascinate-Regular";
    font-size: 7em;
    color: var(--orange);
}

A,
A:hover {
    color: inherit;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}

/*********************************/
/* NAV */
/*********************************/
NAV {}

NAV UL {
    list-style: none;
}

NAV LI {
    margin-bottom: 20px;
}

NAV LI::before {
    font-family: "bootstrap-icons" !important;
    /*icons bi-circle*/
    content: "\f28a";
    display: inline-block;
    margin-left: -1.2em;
    width: 1.3em;
    vertical-align: bottom;
}

NAV LI:hover::before,
NAV LI.active::before {
    /*bi-circle-fill*/
    content: "\f287";
}

/* last LI */
NAV LI:last-child::before {
    /*icons bi-square*/
    content: "\f584";
}

NAV LI:last-child:hover::before,
NAV LI.active:last-child::before {
    /*bi-square-fill*/
    content: "\f582";
}

/* anim nav */
NAV LI SPAN {
    display: inline-block;
}

NAV LI SPAN A {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    transition: width 1s;
    white-space: nowrap;
}

NAV LI:hover SPAN A,
NAV LI SPAN A:focus {
    width: 100%;
}

/*********************************/
/* MAIN */
/*********************************/
.img-home {
    width: 220px;
}

.paragraphe {}

.btn.btn-main {
    font-family: "sourceSerifPro-Regular";
    color: #fff;
    background-color: var(--bleu);
    border-color: var(--bleu);
    width: 50%;
    margin-bottom: 10px;
}

.btn.btn-main:hover {
    color: #fff;
    background-color: var(--bleu-bis);
    border-color: var(--bleu-bis);
}

.btn-start {
    text-align: center;
    margin-top: 20px;
}
